@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'InterVariable', system-ui, sans-serif;
	text-align: center;

	color: #fff;
	background-color: #1e2337;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
